
#login-title {
    color: aliceblue;
    font-size: 3em;
}


#Login-container{
  display: flex;
    flex-direction: column;
    align-items: center;

}

#login-button, #go-back {
    padding: 10px 20px;
    margin: 5px;
    background-color: #4CAF50;
    color:aliceblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;

}

#login-button:hover, #go-back:hover {

    padding: 10px 30px;
}


#username, #password {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 5px;
}
