
#login-title {
    color: aliceblue;
    font-size: 3em;
}


#Login-container{
  display: flex;
    flex-direction: column;
    align-items: center;

}

.loginbox {
    border: 1px solid #2e2e2e;       
    border-radius: 8px;           
    padding: 20px;               
    max-width: 400px;             
    margin: 0 auto;               
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    background-color: #2c2b2b; 
}

.loginbox input {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    width: 250px;
}

#login-button, #go-back {
    padding: 10px 20px;
    margin: 5px;
    background-color: #4CAF50;
    color:aliceblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;

}

#login-button:hover {
    background-color: #4fdf54;
    padding: 10px 30px;
}

#go-back:hover {
    background-color: red;
}


#username, #password {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 5px;
}
