    
#register-title {
    font-size: 3em;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    color:aliceblue;
    
}

#register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
#register-container input {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    width: 250px;

}

#register-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color:aliceblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

#register-button:hover {
    background-color: #45a049;
    padding: 10px 25px;
}
